<footer class="fiu-footer">
    <div class="fiu-width-container ">
        <div class="fiu-footer__apprenticeship-logo-wrap">
            <img src="https://das-prd-frnt-end.azureedge.net/fiu/assets/images/apprenticeships-logo.svg" alt="Apprenticeships logo" class="fiu-footer__apprenticeship-logo">            
        </div>
        <div class="govuk-grid-row fiu-footer__row">
            <div class="govuk-grid-column-one-half">
                <h2 class="fiu-footer__contact-heading">Get free help and support</h2>
            </div>
            <div class="govuk-grid-column-one-half">
                <dl class="fiu-footer__contact-list">
                    <dt class="fiu-footer__contact-list-title white">Call</dt>
                    <dd class="fiu-footer__contact-list-item">0800 015 0400 - 8am to 10pm, every day</dd>                    
                    <dt class="fiu-footer__contact-list-title white">Email</dt>
                    <dd class="fiu-footer__contact-list-item"><a href="mailto:nationalhelpdesk@apprenticeships.gov.uk" class="fiu-footer__contact-list-link">nationalhelpdesk@apprenticeships.gov.uk</a> </dd>
                </dl>
            </div>
        </div>
        <hr class="fiu-section-break fiu-footer__section-break">
        <div class="govuk-grid-row fiu-footer__row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="fiu-footer__heading">Based outside England?</h3>
            </div>
            <div class="govuk-grid-column-three-quarters fiu-footer__content">
                <dl class="fiu-footer__inline-list">
                    <dt class="fiu-footer__inline-list-title white">Find out what opportunities are available in:</dt>
                    <dd class="fiu-footer__inline-list-item">
                        <a class="fiu-footer__link" href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-footer-scotland">Scotland<span class="fiu-vh"> (Opens in a new window)</span></a>
                    </dd>
                    <dd class="fiu-footer__inline-list-item">
                        <a class="fiu-footer__link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-footer-northern-ireland">Northern Ireland<span class="fiu-vh"> (Opens in a new window)</span></a>
                    </dd>
                    <dd class="fiu-footer__inline-list-item">
                        <a class="fiu-footer__link" href="https://www.gov.wales/apprenticeships" target="_blank" rel="external" id="link-footer-wales">Wales<span class="fiu-vh"> (Opens in a new window)</span></a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="govuk-grid-row fiu-footer__row">
            <div class="govuk-grid-column-full fiu-grid-column-pull-right fiu-footer__content">
                <ul class="fiu-footer__list">
                    <li class="fiu-footer__list-item">
                        <a class="fiu-footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Give us feedback<span class="fiu-vh"> (Opens in a new window)</span></a>
                    </li>
                    <li class="fiu-footer__list-item">
                        <a class="fiu-footer__link" id="link-footer-sitemap" href="/sitemap">Sitemap</a>
                    </li>
                    <li class="fiu-footer__list-item">
                        <a class="fiu-footer__link" id="link-footer-cookie-policy" href="/cookies">Cookies</a>
                    </li>
                    <li class="fiu-footer__list-item">
                        <a class="fiu-footer__link" id="link-footer-privacy-notice" href="/privacy">Privacy notice</a>
                    </li>
                    <li class="fiu-footer__list-item">
                        <a class="fiu-footer__link" id="link-footer-accessibility" href="/accessibility">Accessibility statement</a>
                    </li>
                    <li class="fiu-footer__list-item">
                        Built by <a class="fiu-footer__link" id="link-footer-built-by" href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" rel="external" target="_blank">Education and Skills Funding Agency</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row fiu-footer__row fiu-footer__row-flex">
            <div class="govuk-grid-column-three-quarters fiu-grid-column-pull-right fiu-footer__content">
                <p class="fiu-footer__copyright">All content is available under the <a class="fiu-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="external" id="link-footer-ogl">Open Government Licence v3.0<span class="fiu-vh"> (Opens in a new window)</span></a>, except where otherwise stated.</p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <img class="fiu-footer__hm-logo" src="https://das-prd-frnt-end.azureedge.net/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo">
            </div>
        </div>
    </div>
    
</footer>
<script src="https://das-prd-frnt-end.azureedge.net/libs/govuk-frontend/all.js"></script>
<script src="https://das-prd-frnt-end.azureedge.net/js/das-all.js"></script>
<script>
    window.GOVUKFrontend.initAll();
    window.DASFrontend.initAll();
</script>