<section class="app-section app-section--black margin-top-20">
  <div class="fiu-width-container center">
    <img src="{{asset 'apprentice-sparks.png'}}" alt="background-image" />
  </div>
</section>

<script>
    $(".govuk-list> li:nth-child(1n+4) .article-link").attr('hidden', true);
</script>