<section class="app-section app-section--black margin-top-20">
  <div class="left">
    {{!-- {{breadcrumbs}} --}}
  </div>

  <div class="fiu-page-header fiu-page-header--homepage">
    <div class="fiu-width-container center">
      <span class="fiu-page-header__image-mask"></span>
      <img src="{{asset 'apprentice-sparks.png'}}" alt="background-image" class="fiu-page-header__image fiu-fade-in" />
    </div>
  </div>

  <div class="fiu-grad-row fiu-homepage-card-container">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container center">
      <div class="govuk-grid-row fiu-flex-row">
        {{!-- This represents the sections --}}
        <div class="govuk-grid-column-one-third"></div>
        <div class="govuk-grid-column-one-third"></div>
        <div class="govuk-grid-column-one-third"></div>
      </div>
    </div>
  </div>

</section>

<section class="app-section app-section--white">
  <div class="fiu-width-container center margin-top-20" style="min-height: 50px">
  <label>This is where the sections can go</label>
  </div>  
</section>

<script>
    $(".govuk-list> li:nth-child(1n+4) .article-link").attr('hidden', true);
</script>